.ab1, .ab3 {
    width: 100vw;
    height: 90vh;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 10%;
}

.ab1 {
    padding-top: 20%;
}

.ab2 {
    width: 100vw;
    height: 90vh;
    text-align: center;
    background-color: white;
    padding-top: 10%;
}

.ab4 {
    width: 100vw;
    height: 70vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.ab5 {
    width: 100vw;
    height: 60vh;
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 10%;
}

h1 {
    margin: 0;
    /* margin-top: 100px;
    margin-bottom: 30px;
    font-size: 15vh; */
}

h2 {
    margin: 0;
    /* margin-top: 100px;
    margin-bottom: 30px;
    font-size: 5vh; */
}

.ab3-founders{
    display: flex;
    
}

.ab3-founder1, .ab3-founder2 {
    margin: 10px 100px;
    padding: 0 30px;
    flex: 1;
    background-color: #001F3F;
    border-radius: 10px;
    color: white;
}