.ab {
    padding-top: 200px;
    width: 100vw;
    height: fit-content;
}

.ab1, .ab2, .ab3, .ab5 {
    width: 100vw;
    height: 70vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ab4 {
    width: 100vw;
    height: 70vh;

    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ab h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 6.5vw;
    color: #008080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ab h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #008080;
    font-size: 4.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ab3-founders{
    width: 100vw;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ab3-founder1, .ab3-founder2 {
    
    margin: 1vh 5vw; 
    /* margin: 10px 120px; */
    padding: 0 20px;
    color: white;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #362E52;
    border-radius: 10px;

}

.headshot {
    height: 200px;
    margin: 15px;
    border-radius: 10px;
    border: 2px white solid;

}