.lp {
    display: flex;
    flex-direction: column;
}

.lp1, .lp2, .lp3 {
    width: 100vw;
    height: 90vh;
}

.lp-title {
    text-align: center;
    font-size: 11vh;
    margin-top: 14vh;
    margin-bottom: 0;
}

.lp-description {
    text-align: center;
    font-size: larger;
    color: grey;
}

.lp1-buttons {
    display: flex;
    margin: 30px 0;
    justify-content: center;

}

.lp1-button {
    margin: 0 20px;
    font-size: larger;
    background-color: black;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.lp1-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.lp2-section1, .lp2-section2{
    height: 50%;
    display: flex;
    /* justify-content: space-evenly; */
}

.lp2-image {
    transform: scale(.8);
    /* padding: 20px 40px; */
    flex: 1;
    /* padding: 0 5vw; */
}

.lp2-text {
    flex: 1;
}

.lp2-subtitle{
    text-align: center;
    font-size: xx-large;
}

.lp2-description{
    padding: 0 50px;
    text-align: center;
    font-size: large;
}

.lp2-button {
    display: block;
    margin: auto;
    font-size: larger;
    background-color: black;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;

}

.lp2-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.lp3-subtitle{
    text-align: center;
    font-size: xx-large;
}