.menu-bar {
  top: 0;
  z-index: 999;
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 15px 20px;
  background-color: white;
  border-bottom: 0.1px grey solid;
}

.menu-bar-title-logo {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.menu-bar-title-logo:hover {
  cursor: pointer;
}

.logo {
  width: 40px;
  height: auto;
}

.menu-bar-title {
  margin: 0;
  font-size: xx-large;
  margin: 0 10px;
}

.menu-bar-buttons {
  align-self: center;
}

.menu-bar-button {
  background-color: transparent;
  border: 0px;
  margin: 0px 5px;
  transition: transform 0.3s;
}

.menu-bar-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
