.pp-sidebar {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: fit-content;
  position: sticky;
  top: 0;
  padding: 80px 0;
}

.pp-sidebar-button {
  text-align: left;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px 10px;
  border: 2px black solid;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pp-sidebar-button {
  color: black;
}

.pp-sidebar-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
