.tc-sidebar {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: fit-content;
  position: sticky;
  top: 0;
  padding: 80px 0;
}

.tc-sidebar-button {
    text-align: left;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 2px black solid;
    border-radius: 5px;
    text-decoration: none;
    color: black;


}

.tc-sidebar-button {
    color: black;
}

.tc-sidebar-button:hover {
    cursor: pointer;
}


